.btn-submit{
  background-color: #02ACAF;
  color: white;
  font-weight: bold;
  width: 80px;
  margin-left: 40px;
}

.btn-reset{
  background-color: #5A6268;
  color: white;
  margin-left: 50px;
  font-weight: bold;
  width: 80px;
}
