.bottom-navbar {
  background-color: #02acaf;
  height: 40px;
}

.topNavbar {
  display: flex;
  justify-content: right;
  background-color: #eeeff6;
  border-radius: 5px 5px 5px 40px;
  margin-top: -7px;
  margin-left: 120px;
  padding: 5px;
}

.topNavbar button {
  border: none;
}

.btn-submit {
  background-color: #02acaf;
  color: white;
}

.fa-user {
  position: relative;
  top: -4px;
}

.nav-link {
  padding: 0px 10px 0px 10px;
  color:white;
  font-weight: bolder;
}

.active {
  border: 1px solid white;
  background-color: #02acaf;
}
