<div class="container">
  <div class="row p-4 text-center">
    <h1 class="heading">Dashboard</h1>
  </div>
  <div class="row p-4">
    <div class="col-md-4">
      <div class="card">
        <h1>Questions</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h1>Prerequisits</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h1>Do's & Don'ts</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h1>Terms & Conditions</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h1>Time Management</h1>
      </div>
    </div>
  </div>
</div>
