<div class="container">
  <div class="row p-4 text-center">
    <h1 class="heading">Dashboard</h1>
  </div>
  <div class="row p-4">
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Question"><h1>Questions</h1></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Content/prerequisits"><h1>Prerequisits</h1></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Content/dos&donts"><h1>Do's & Don'ts</h1></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Content/terms&condition"><h1>Terms & Conditions</h1></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Time-management"><h1>Time Management</h1></a>
      </div>
    </div>
  </div>
</div>
