<div class="container">
  <div class="card mt-3">
    <div class="row p-4 text-center">
      <div class="col-md-12 buttons">
        <button
          type="button"
          class="btn btn-md btn-active {{
            view == views[0] ? 'active' : 'not-active'
          }}"
          (click)="view = views[0]"
        >
          {{'content.button1' | translate}}
        </button>
        <button
          type="button"
          class="btn btn-md btn-active {{
            view == views[1] ? 'active' : 'not-active'
          }}"
          (click)="view = views[1]"
        >
           {{'content.button2' | translate}}
        </button>
        <button
          type="button"
          class="btn btn-md btn-active {{
            view == views[2] ? 'active' : 'not-active'
          }}"
          (click)="view = views[2]"
        >
           {{'content.button3' | translate}}
        </button>
      </div>
    </div>
    <div
      class=" {{
        view == views[0] ? 'd-block' : 'd-none'
      }} col-md-12 Prerequisites"
    >
      <div class="row mb-2">
        <form #preform="ngForm" (ngSubmit)="Prerequisits(preform)">
          <div class="col-md-12 px-5 my-3">
            <label type="label">{{'content.label1'| translate}}</label>
            <select class="form-control" ngModel name="vkycType" id="vkycType" required>
              <option value="" disabled selected>
                --{{'content.label1'| translate}}--
              </option>
              <option value="Assisted">{{'content.option1'| translate}}</option>
              <option value="Non Assisted">{{'content.option2'| translate}}</option>
            </select>
          </div>
          <div class="col-md-12 px-5 my-3">
            <label type="label"> {{'content.label2'| translate}}</label>
            <ckeditor
              [editor]="Editor"
              name="content_english"
              [(ngModel)]="Editor"
            >
            </ckeditor>
          </div>
          <div class="col-md-12 px-5 my-3">
            <label type="label"> {{'content.label3'| translate}}</label>
            <ckeditor
              [editor]="CKEditor"
              name="content_hindi"
              [(ngModel)]="CKEditor"
            >
            </ckeditor>
          </div>
          <div class="col-md-12 my-3">
            <div class="btn" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-submit mt-4">{{'content.Submit'| translate}}</button>
              <button type="reset" class="btn btn-reset mt-4">{{'content.Reset'| translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      class=" {{
        view == views[1] ? 'd-block' : 'd-none'
      }} col-md-12 Do's & Don'ts"
    >
      <div class="row mb-2">
        <form #dosForm="ngForm" (ngSubmit)="dosanddonts(dosForm)">
          <div class="col-md-12 px-5 my-3">
            <label type="label"> {{'content.label1'| translate}}</label>
            <select class="form-control" ngModel name="vkycType" id="vkycType" required>
              <option value="" disabled selected>
                --{{'content.label1'| translate}}--
              </option>
              <option value="Assisted">{{'content.option1'| translate}}</option>
              <option value="Non Assisted">{{'content.option2' | translate}}</option>
            </select>
          </div>
          <div class="col-md-12 px-5 my-3">
            <label type="label">{{'content.label4' | translate}}</label>
            <ckeditor
              [editor]="Editor"
              name="content_english"
              required
              [(ngModel)]="Editor"
            >
            </ckeditor>
          </div>
          <div class="col-md-12 px-5 my-3">
            <label type="label"> {{'content.label5' | translate}}</label>
            <ckeditor
              [editor]="CKEditor"
              name="content_hindi"
              required
              [(ngModel)]="CKEditor"
            >
            </ckeditor>
          </div>
          <div class="col-md-12 my-3">
            <div class="btn" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-submit mt-4">{{'content.Submit'| translate}}</button>
              <button type="reset" class="btn btn-reset mt-4">{{'content.Reset'| translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      class=" {{
        view == views[2] ? 'd-block' : 'd-none'
      }} col-md-12 Terms & Conditions"
    >
      <div class="row mb-2">
        <form #termsForm="ngForm" (ngSubmit)="termsandcondition(termsForm)">
          <div class="col-md-12 px-5 my-3">
            <label type="label"> {{'content.label1'| translate}} </label>
            <select class="form-control" ngModel name="vkycType" id="vkycType" required>
              <option value="" disabled selected>
                --{{'content.label1'| translate}}--
              </option>
              <option value="Assisted">{{'content.option1'| translate}}</option>
              <option value="Non Assisted">{{'content.option2'| translate}}</option>
            </select>
          </div>
          <div class="col-md-12 px-5 my-3">
            <label type="label"> {{'content.label6'| translate}}</label>
            <ckeditor
              [editor]="Editor"
              name="content_english"
              [(ngModel)]="Editor"
              required
            >
            </ckeditor>
          </div>
          <div class="col-md-12 px-5 my-3">
            <label type="label"> {{'content.label7'| translate}}</label>
            <ckeditor
              [editor]="CKEditor"
              name="content_hindi"
              required
              [(ngModel)]="CKEditor"
            >
            </ckeditor>
          </div>
          <div class="col-md-12 my-3">
            <div class="btn" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-submit mt-4">{{'content.Submit'| translate}}</button>
              <button type="reset" class="btn btn-reset mt-4">{{'content.Reset' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div
    class=" {{
      view == views[0] ? 'd-block' : 'd-none'
    }} col-md-12 Prerequisites"
  >
    <div class="card mt-3">
      <div class="row p-4 text-center">
        <div class="col-md-12 buttons">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">{{'content.sno' | translate}}</th>
                <th scope="col">{{'content.content' | translate}}</th>
                <th scope="col">{{'content.VKYCType' | translate}}</th>
                <th scope="col">{{'content.InstructionsEnglish' | translate}}</th>
                <th scope="col">{{'content.InstructionsHindi' | translate}}</th>
                <th scope="col">{{'content.Actions' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Prerequisites; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.contentType }}</td>
                <td>{{ item.vkycType }}</td>
                <td><p [innerHTML]="item.content_english"></p></td>
                <td><p [innerHTML]="item.content_hindi"></p></td>
                <td>
                  <i
                    class="fas fa-edit fa-md"
                    (click)="editContent(item._id)"
                  ></i>
                  &nbsp;
                  <i
                    class="fa-regular fa-square fa-md"
                    *ngIf="item.is_active == false" (click)="activeContent(item._id)"
                  ></i>
                  <i
                    class="fa-regular fa-square-check fa-md"
                    *ngIf="item.is_active == true"  (click)="deactivateContent(item._id)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          [length]="precount"
          [pageSize]="page"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
  <div
    class=" {{
      view == views[1] ? 'd-Iblock' : 'd-none'
    }} col-md-12 Do's & Don'ts"
  >
    <div class="card mt-3">
      <div class="row p-4 text-center">
        <div class="col-md-12 buttons">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">{{'content.sno' | translate}}</th>
                <th scope="col">{{'content.content' | translate}}</th>
                <th scope="col">{{'content.VKYCType' | translate}}</th>
                <th scope="col">{{'content.InstructionsEnglish' | translate}}</th>
                <th scope="col">{{'content.InstructionsHindi' | translate}}</th>
                <th scope="col">{{'content.Actions' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of DosandDonts; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.contentType }}</td>
                <td>{{ item.vkycType }}</td>
                <td><p [innerHTML]="item.content_english"></p></td>
                <td><p [innerHTML]="item.content_hindi"></p></td>
                <td>
                  <i
                    class="fas fa-edit fa-md"
                    (click)="editContent(item._id)"
                  ></i>
                  &nbsp;
                  <i
                    class="fa-regular fa-square fa-md"
                    *ngIf="item.is_active == false"
                  ></i>
                  <i
                    class="fa-regular fa-square-check fa-md"
                    *ngIf="item.is_active == true"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          [length]="doscount"
          [pageSize]="page"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
  <div
    class=" {{
      view == views[2] ? 'd-block' : 'd-none'
    }} col-md-12 Terms & Condition"
  >
    <div class="card mt-3">
      <div class="row p-4 text-center">
        <div class="col-md-12 buttons">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">{{'content.sno' | translate}}</th>
                <th scope="col">{{'content.content' | translate}}</th>
                <th scope="col">{{'content.VKYCType' | translate}}</th>
                <th scope="col">{{'content.InstructionsEnglish' | translate}}</th>
                <th scope="col">{{'content.InstructionsHindi' | translate}}</th>
                <th scope="col">{{'content.Actions' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of termsandCondition; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.contentType }}</td>
                <td>{{ item.vkycType }}</td>
                <td><p [innerHTML]="item.content_english"></p></td>
                <td><p [innerHTML]="item.content_hindi"></p></td>
                <td>
                  <i
                    class="fas fa-edit fa-md"
                    (click)="editContent(item._id)"
                  ></i>
                  &nbsp;
                  <i
                    class="fa-regular fa-square fa-md"
                    *ngIf="item.is_active == false"
                  ></i>
                  <i
                    class="fa-regular fa-square-check fa-md"
                    *ngIf="item.is_active == true"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          [length]="termscount"
          [pageSize]="page"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
