<div class="container" *ngIf="!filter">
  <div class="card mt-3">
    <div class="row p-4 pb-0">
      <div class="col-md-12 text-end">
        <button class="btn btn-filter" (click)="Filter(true)">{{'question.filter' | translate}}</button>
      </div>
    </div>
    <form>
      <div class="row p-4 pt-0">
        <div class="col-md-6 col-sm-6 my-2">
          <label for="Deed Category">{{'question.label1' | translate}}</label>
          <select
            class="form-control"
            [(ngModel)]="deedCategoryId"
            name="deedCategory"
            id="deedCategory"
            (ngModelChange)="getDeedType()"
          >
            <option [value]="" selected disabled>---{{'question.option1' | translate}}--</option>
            <option *ngFor="let item of deedCategory" [value]="item.id" >{{translation.currentLang == 'en' ? item.deedCategoryNameEn : item.deedCategoryNameHi}}</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <label for="Deed Type">{{'question.label2' | translate}}</label>
          <select class="form-control" [(ngModel)]="deedTypeId" (ngModelChange)="getInstrument()" name="deedType" id="deedType">
            <option value="" disabled>---{{'question.option2' | translate}}--</option>
            <option [value]="item.id" *ngFor="let item of deedType">{{translation.currentLang == 'en' ? item.deedTypeNameEn : item.deedTypeNameHi}}</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <label for="Instrument">{{'question.label3' | translate}}</label>
          <select
            class="form-control"
            [(ngModel)]="instrumentId"
            name="Instrument"
            id="Instrument"
          >
            <option value="" disabled>---{{'question.option3' | translate}}--</option>
            <option *ngFor="let item of instrument" [value]="item.id">{{translation.currentLang == 'en' ? item.instrumentNameEn : item.instrumentNameHi}}</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <label for="Party Role">{{'question.label4' | translate}}</label>
          <select class="form-control" ngModel name="partRole" id="partRole">
            <option value="" disabled>---{{'question.option4'| translate}}--</option>
            <option value="Buyer">Buyer</option>
            <option value="Seller">Seller</option>
            <option value="Concentor">Concentor</option>
            <option value="Witness">Witness</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <div class="form-group">
            <label for="Question in English">{{'question.questionEnglish'| translate}}</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              ngModel
              name="English"
              placeholder="Enter Question in English"
              rows="3"
            ></textarea>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <div class="form-group">
            <label for="Question in Hindi">{{'question.questionHindi' | translate}}</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              ngModel
              name="Hindi"
              placeholder="Enter Question in Hindi"
              rows="3"
            ></textarea>
          </div>
        </div>
        <div class="col-md-12 my-3">
          <div class="btn" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-submit mt-2">{{'question.Submit'| translate}}</button>
            <button type="reset" class="btn btn-reset mt-2">{{'question.Reset'| translate}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card my-3">
    <table class="table table-bordered">
      <thead class="tableheader">
        <tr>
          <th scope="col" style="width: 25px">{{'question.sno'| translate}}</th>
          <th scope="col">{{'question.InstrumentName'| translate}}</th>
          <th scope="col">{{'question.Role'| translate}}</th>
          <th scope="col">{{'question.VKYCType'| translate}}</th>
          <th scope="col">{{'question.Questions' | translate}}</th>
          <th scope="col">{{'question.Action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" rowspan="2">1</th>
          <td rowspan="2" style="width: 550px;">
            Acknowledgement of a debt, written or signed by or on behalf of
            debtor.
          </td>
          <td>Executant</td>
          <td>Assisted</td>
          <td>w</td>
        </tr>
        <tr>
          <td>Claimant</td>
          <td>Non-Assisted</td>
          <td>dd</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container" *ngIf="filter">
  <div class="card mt-3">
    <div class="row p-4 pb-0">
      <div class="col-md-12 text-end">
        <button class="btn btn-filter" (click)="Filter(false)">{{'question.back' | translate}}</button>
      </div>
    </div>
    <form>
      <div class="row p-4 pt-0">
        <div class="col-md-6 col-sm-6 my-2">
          <label for="Deed Category">{{'question.label1' | translate}}</label>
          <select
            class="form-control"
            [(ngModel)]="deedCategoryId"
            name="deedCategory"
            id="deedCategory"
            (ngModelChange)="getDeedType()"
          >
            <option [value]="" selected disabled>---{{'question.option1' | translate}}--</option>
            <option *ngFor="let item of deedCategory" [value]="item.id" >{{translation.currentLang == 'en' ? item.deedCategoryNameEn : item.deedCategoryNameHi}}</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <label for="Deed Type">{{'question.label2' | translate}}</label>
          <select class="form-control" [(ngModel)]="deedTypeId" (ngModelChange)="getInstrument()" name="deedType" id="deedType">
            <option value="" disabled>---{{'question.option2' | translate}}--</option>
            <option [value]="item.id" *ngFor="let item of deedType">{{translation.currentLang == 'en' ? item.deedTypeNameEn : item.deedTypeNameHi}}</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <label for="Instrument">{{'question.label3' | translate}}</label>
          <select
            class="form-control"
            [(ngModel)]="instrumentId"
            name="Instrument"
            id="Instrument"
          >
            <option value="" disabled>---{{'question.option3' | translate}}--</option>
            <option *ngFor="let item of instrument" [value]="item.id">{{translation.currentLang == 'en' ? item.instrumentNameEn : item.instrumentNameHi}}</option>
          </select>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <label for="Party Role">{{'question.label4' | translate}}</label>
          <select class="form-control" ngModel name="partRole" id="partRole">
            <option value="" disabled>---{{'question.option4'| translate}}--</option>
            <option value="Buyer">Buyer</option>
            <option value="Seller">Seller</option>
            <option value="Concentor">Concentor</option>
            <option value="Witness">Witness</option>
          </select>
        </div>

        <div class="col-md-12 my-3">
          <div class="btn" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-submit mt-2">{{'question.Submit'| translate}}</button>
            <button type="reset" class="btn btn-reset mt-2">{{'question.Reset'| translate}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
