<div class="container">
  <div class="row p-4 text-center">
    <h1 class="heading">{{'dashboard.heading' | translate}}</h1>
  </div>
  <div class="row p-4">
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Question"><h1>{{'dashboard.text1' | translate}}</h1></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Prerequisits"><h1>{{'dashboard.text2' | translate}}</h1></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Dosndonts"><h1>{{'dashboard.text3' | translate}}</h1></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Termsncondition"><h1>{{'dashboard.text4' | translate}}</h1></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Time-management"><h1>{{'dashboard.text5'| translate}}</h1></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a class="nav-link active" aria-current="page" routerLink="/Matching"><h1>{{'dashboard.text6'| translate}}</h1></a>
      </div>
    </div>
  </div>
</div>
