<div class="container">
  <div class="card mt-3">
    <div class="row p-4 pb-0">
      <div class="col-md-10">
        <h4>{{ "question.edit" | translate }}</h4>
      </div>
      <div class="col-md-2 text-end">
        <button class="btn btn-filter mb-2" (click)="back()">{{'question.back' | translate}}</button>
      </div>
      <hr>
    </div>
    <div class="row mb-2" *ngIf="data">
      <form #updateForm="ngForm" (ngSubmit)="Submit(updateForm)">
        <div class="col-md-12 px-5 my-3">
          <label type="label"> Select Video KYC Type </label>
          <select class="form-control" [(ngModel)]="data.vkycTypeEn" name="vkycType" id="vkycType" required>
            <option value="" disabled selected>
              ---Select Video KYC Type--
            </option>
            <option value="Assisted">Assisted</option>
            <option value="Non Assisted">Non Assisted</option>
          </select>
        </div>
        <div class="col-md-12 px-5 my-3">
          <label type="label"> {{contentType}} in English</label>
          <textarea class="form-control"  name="content_english"
          required [(ngModel)]="data.content_english" id="content_english" placeholder="Enter Data in English" rows="3"></textarea>
        </div>
        <div class="col-md-12 px-5 my-3">
          <label type="label"> {{contentType}} in Hindi</label>
          <textarea class="form-control"  name="content_hindi"
          required [(ngModel)]="data.content_hindi" id="content_hindi" placeholder="Enter Data in Hindi" rows="3"></textarea>
        </div>
        <div class="col-md-12 my-3">
          <div role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-submit mt-4">Submit</button>
            <button type="reset" class="btn btn-reset mt-4">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
