<div class="container" *ngIf="!filter">
  <div class="card mt-3">
    <div class="row p-4 pb-0">
      <div class="col-md-10">
        <h4>{{ "question.title" | translate }}</h4>
      </div>
      <div class="col-md-2 text-end">
        <button class="btn btn-filter mb-2" (click)="Filter(true)">
          {{ "question.filter" | translate }}
        </button>
      </div>
      <hr />
    </div>
    <form #questionForm="ngForm" (ngSubmit)="submit(questionForm)">
      <div class="row p-4 pt-0">
        <div class="col-md-6 col-sm-6 my-2">
          <mat-form-field [style.width.%]="100">
            <mat-label>{{ "question.label1" | translate }}</mat-label>
            <mat-select
              [(ngModel)]="deedCategoryId"
              name="deedCategory"
              id="deedCategory"
              (selectionChange)="getDeedType()"
            >
              <mat-option
                *ngFor="let item of deedCategory; let i = index"
                [value]="item.id"
              >
                {{ i + 1 + "." }}
                {{
                  translation.currentLang == "en"
                    ? item.deedCategoryNameEn
                    : item.deedCategoryNameHi
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <mat-form-field [style.width.%]="100">
            <mat-label>{{ "question.option2" | translate }}</mat-label>
            <mat-select
              [(ngModel)]="deedTypeId"
              (selectionChange)="getInstrument()"
              name="deedType"
              id="deedType"
            >
              <mat-option
                [value]="item.id"
                *ngFor="let item of deedType; let i = index"
              >
                {{ i + 1 + "." }}
                {{
                  translation.currentLang == "en"
                    ? item.deedTypeNameEn
                    : item.deedTypeNameHi
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12 my-2">
          <mat-form-field [style.width.%]="100">
            <mat-label>{{ "question.option3" | translate }}</mat-label>
            <mat-select
              [(ngModel)]="instrumentId"
              (selectionChange)="getRoles()"
              name="instrument"
              id="instrument"
              style="width: 100%"
            >
              <mat-option
                [disabled]="item.isAssisted == null"
                *ngFor="let item of instrument; let i = index"
                [value]="item.id"
              >
                {{ i + 1 + "." }}
                {{
                  translation.currentLang == "en"
                    ? item.instrumentNameEn
                    : item.instrumentNameHi
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <mat-form-field [style.width.%]="100">
            <mat-label>{{ "question.label5" | translate }}</mat-label>
            <mat-select
              type="text"
              ngModel
              name="videoKYCType"
              id="videoKYCType"
            >
              <mat-option
                *ngFor="let item of isAssisted; let i = index"
                [value]="item.videoKYCTypeEn"
              >
                {{ i + 1 + "." }}
                {{
                  translation.currentLang == "en"
                    ? item.videoKYCTypeEn
                    : item.videoKYCTypeHi
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <mat-form-field [style.width.%]="100">
            <mat-label> --{{ "question.option4" | translate }}--</mat-label>
            <mat-select ngModel name="partyRole" id="partyRole">
              <mat-option
                [value]="item.partyTypeId"
                *ngFor="let item of rolesData; let i = index"
              >
                {{ i + 1 + "." }}
                {{
                  translation.currentLang == "en"
                    ? item.partyTypeNameEn
                    : item.partyTypeNameHi
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <div class="form-group">
            <mat-form-field [style.width.%]="100">
              <mat-label>{{
                "question.questionEnglish" | translate
              }}</mat-label>
              <textarea
                matInput
                ngModel
                name="questionEn"
                placeholder="Enter Question in English"
                rows="3"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <div class="form-group">
            <mat-form-field [style.width.%]="100">
              <mat-label>{{ "question.questionHindi" | translate }}</mat-label>
              <textarea
                matInput
                ngModel
                name="questionHi"
                placeholder="Enter Question in Hindi"
                rows="3"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12 my-3">
          <div role="group" aria-label="Basic example">
            <button
              type="submit"
              [disabled]="!isAssisted"
              class="btn btn-submit mt-2"
            >
              {{ "question.Submit" | translate }}
            </button>
            <button
              type="reset"
              (click)="resetForm()"
              class="btn btn-reset mt-2"
            >
              {{ "question.Reset" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card my-3">
    <div class="row p-3">
      <div class="col-md-12 my-3 text-center">
        <h4>{{ "question.questionList" | translate }}</h4>
        <hr />
      </div>
      <div class="col-md-12 buttons">
        <table class="table table-bordered border-dark">
          <thead class="tableheader">
            <tr>
              <th scope="col" style="width: 25px" valign="top">
                {{ "question.sno" | translate }}
              </th>
              <th scope="col" style="width: 350px" valign="top">
                {{ "question.InstrumentName" | translate }}
              </th>
              <th scope="col" valign="top">
                {{ "question.Role" | translate }}
              </th>
              <th scope="col" valign="top">
                {{ "question.VKYCType" | translate }}
              </th>
              <th scope="col" valign="top">
                {{ "question.Questions" | translate }}
              </th>
              <th scope="col" valign="top">
                {{ "question.Action" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of questionList
                  | paginate : { itemsPerPage: limit, currentPage: page };
                let i = index
              "
            >
              <th>{{ page * limit + i + 1 - limit }}.</th>
              <td>
                {{
                  translation.currentLang == "en"
                    ? item.instrument.instrumentNameEn
                    : item.instrument.instrumentNameHi
                }}
              </td>
              <td>
                {{
                  translation.currentLang == "en"
                    ? item.partyRole.partyTypeNameEn
                    : item.partyRole.partyTypeNameHi
                }}
              </td>
              <td>
                {{
                  translation.currentLang == "en"
                    ? item.videoKYCTypeEn
                    : item.videoKYCTypeHi
                }}
              </td>
              <td>
                {{
                  translation.currentLang == "en"
                    ? item.questionEn
                    : item.questionHi
                }}
              </td>
              <td>
                <i
                  class="fas fa-edit"
                  (click)="editQuestion(item._id)"
                  ngbTooltip="Edit Question"
                  placement="top"
                ></i>
                &nbsp;&nbsp;
                <i
                  class="fa-regular fa-square fa-md"
                  *ngIf="item.is_active == false"
                  (click)="enableQuestion(item._id)"
                  ngbTooltip="Enable Question"
                  placement="top"
                ></i>
                <i
                  class="fa-regular fa-square-check fa-md"
                  *ngIf="item.is_active == true"
                  (click)="disableQuestion(item._id)"
                  ngbTooltip="Disable Question"
                  placement="top"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-center">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
<div class="container" *ngIf="filter">
  <div class="card mt-3">
    <div class="row p-4 pb-0">
      <div class="col-md-10">
        <h4>{{ "question.search" | translate }}</h4>
      </div>
      <div class="col-md-2 text-end">
        <button class="btn btn-filter mb-2" (click)="Filter(false)">
          {{ "question.back" | translate }}
        </button>
      </div>
      <hr />
    </div>
    <form #filterForm="ngForm" (ngSubmit)="filterData(filterForm)">
      <div class="row p-4 pt-0">
        <div class="col-md-6 col-sm-6 my-2">
          <mat-form-field [style.width.%]="100">
            <mat-label>{{ "question.label1" | translate }}</mat-label>
            <mat-select
              [(ngModel)]="deedCategoryId"
              name="deedCategory"
              id="deedCategory"
              (selectionChange)="getDeedType()"
            >
              <mat-option
                *ngFor="let item of deedCategory; let i = index"
                [value]="item.id"
              >
                {{ i + 1 + "." }}
                {{
                  translation.currentLang == "en"
                    ? item.deedCategoryNameEn
                    : item.deedCategoryNameHi
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <mat-form-field [style.width.%]="100">
            <mat-label>{{ "question.option2" | translate }}</mat-label>
            <mat-select
              [(ngModel)]="deedTypeId"
              (selectionChange)="getInstrument()"
              name="deedType"
              id="deedType"
            >
              <mat-option
                [value]="item.id"
                *ngFor="let item of deedType; let i = index"
              >
                {{ i + 1 + "." }}
                {{
                  translation.currentLang == "en"
                    ? item.deedTypeNameEn
                    : item.deedTypeNameHi
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <mat-form-field [style.width.%]="100">
            <mat-label>{{ "question.label1" | translate }}</mat-label>
            <mat-select
              [(ngModel)]="instrumentId"
              (selectionChange)="getRoles()"
              name="instrument"
              id="instrument"
              style="width: 100%"
            >
              <mat-option
                [disabled]="item.isAssisted == null"
                *ngFor="let item of instrument; let i = index"
                [value]="item.id"
              >
                {{ i + 1 + "." }}
                {{
                  translation.currentLang == "en"
                    ? item.instrumentNameEn
                    : item.instrumentNameHi
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6 my-2">
          <mat-form-field [style.width.%]="100">
            <mat-label> --{{ "question.option4" | translate }}--</mat-label>
            <mat-select ngModel name="partyRole" id="partyRole">
              <mat-option
                [value]="item.partyTypeId"
                *ngFor="let item of rolesData; let i = index"
              >
                {{ i + 1 + "." }}
                {{
                  translation.currentLang == "en"
                    ? item.partyTypeNameEn
                    : item.partyTypeNameHi
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 my-3">
          <div role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-submit mt-2">
              {{ "question.Search" | translate }}
            </button>
            <button
              type="reset"
              (click)="resetForm()"
              class="btn btn-reset mt-2"
            >
              {{ "question.Reset" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card my-3">
    <div class="row p-4">
      <div class="col-md-12 my-3 text-center">
        <h4>{{ "question.searchList" | translate }}</h4>
        <hr />
      </div>
      <div class="col-md-12">
        <table class="table table-bordered border-dark">
          <thead class="tableheader">
            <tr>
              <th scope="col" style="width: 25px" valign="top">
                {{ "question.sno" | translate }}
              </th>
              <th scope="col" style="width: 350px" valign="top">
                {{ "question.InstrumentName" | translate }}
              </th>
              <th scope="col" valign="top">
                {{ "question.Role" | translate }}
              </th>
              <th scope="col" valign="top">
                {{ "question.VKYCType" | translate }}
              </th>
              <th scope="col" valign="top">
                {{ "question.Questions" | translate }}
              </th>
              <th scope="col" valign="top">
                {{ "question.Action" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of questionList
                  | paginate
                    : {
                        itemsPerPage: limit,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index
              "
            >
              <th>{{ page * limit + i + 1 - limit }}.</th>
              <td>
                {{
                  translation.currentLang == "en"
                    ? item.instrument.instrumentNameEn
                    : item.instrument.instrumentNameHi
                }}
              </td>
              <td>
                {{
                  translation.currentLang == "en"
                    ? item.partyRole.partyTypeNameEn
                    : item.partyRole.partyTypeNameHi
                }}
              </td>
              <td>
                {{
                  translation.currentLang == "en"
                    ? item.videoKYCTypeEn
                    : item.videoKYCTypeHi
                }}
              </td>
              <td>
                {{
                  translation.currentLang == "en"
                    ? item.questionEn
                    : item.questionHi
                }}
              </td>
              <td>
                <i class="fas fa-edit" (click)="editQuestion(item._id)"></i>
                &nbsp;&nbsp;
                <i
                  class="fa-regular fa-square fa-md"
                  *ngIf="item.is_active == false"
                  (click)="enableQuestion(item._id)"
                ></i>
                <i
                  class="fa-regular fa-square-check fa-md"
                  *ngIf="item.is_active == true"
                  (click)="disableQuestion(item._id)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-center">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
