<div class="container">
  <div class="card mt-3">
    <form #timeForm="ngForm" (ngSubmit)="submit(timeForm)">
      <div class="row p-4 pb-0">
        <div class="col-md-8">
          <label for="time configuration"
            >Select Video KYC Time Configuration</label
          >
          <select class="form-control" ngModel name="deedType" id="deedType">
            <option value="" disabled>
              --Select Video KYC Time Management--
            </option>
            <option value="">
              Configure time of XX seconds to the party for answer on the
              displayed questions in Non Assisted (Self Recording Video).
            </option>
            <option value="">
              Configure time of XX minutes to complete Non Assisted (Self
              Recoding) Video KYC process.
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="select time">Select Time</label>
            <select class="form-control" ngModel name="timeDuration" id="timeDuration">
              <option value="" selected>--Select Time--</option>
              <option value="1:00 Min">1:00 Min</option>
              <option value="2:00 Min">2:00 Min</option>
              <option value="3:00 Min">3:00 Min</option>
              <option value="4:00 Min">4:00 Min</option>
              <option value="5:00 Min">5:00 Min</option>
              <option value="6:00 Min">6:00 Min</option>
              <option value="7:00 Min">7:00 Min</option>
              <option value="8:00 Min">8:00 Min</option>
              <option value="9:00 Min">9:00 Min</option>
              <option value="10:00 Min">10:00 Min</option>
              <option value="11:00 Min">11:00 Min</option>
              <option value="12:00 Min">12:00 Min</option>
              <option value="13:00 Min">13:00 Min</option>
              <option value="14:00 Min">14:00 Min</option>
              <option value="15:00 Min">15:00 Min</option>
              <option value="16:00 Min">16:00 Min</option>
              <option value="17:00 Min">17:00 Min</option>
              <option value="18:00 Min">18:00 Min</option>
              <option value="19:00 Min">19:00 Min</option>
              <option value="20:00 Min">20:00 Min</option>
              <option value="21:00 Min">21:00 Min</option>
              <option value="22:00 Min">22:00 Min</option>
              <option value="23:00 Min">23:00 Min</option>
              <option value="24:00 Min">24:00 Min</option>
              <option value="25:00 Min">25:00 Min</option>
              <option value="26:00 Min">26:00 Min</option>
              <option value="27:00 Min">27:00 Min</option>
              <option value="28:00 Min">28:00 Min</option>
              <option value="29:00 Min">29:00 Min</option>
              <option value="30:00 Min">30:00 Min</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 my-3">
          <div class="btn" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-submit mt-2">Submit</button>
            <button type="reset" class="btn btn-reset mt-2">Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card my-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" style="width:25px">S.No.</th>
          <th>Content</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" class="text-center">1.</td>
          <td>Configure time of XX seconds to the party for answer on the displayed questions in Non Assisted (Self Recording Video).</td>
          <td>10:00 Min</td>
          <td>
            <i class="fas fa-edit"></i>
            &nbsp;&nbsp;
            <i class="fas fa-check-square"></i>
          </td>
        </tr>
        <tr>
          <td scope="row" class="text-center">2.</td>
          <td>Configure time of XX minutes to complete Non Assisted (Self Recoding) Video KYC process.</td>
          <td>10:00 Min</td>
          <td>
            <i class="fas fa-edit"></i>
            &nbsp;&nbsp;
            <i class="fas fa-check-square"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
    [length]="count"
    [pageSize]="page"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
  </div>
</div>
